@import "vars";

@mixin container {

  &-container {
    margin-right: auto;
    margin-left: auto;
    display: block;

    &-scrollable {
      overflow: visible !important;
    }

    &-fluid {
      width: 100%;
    }

    @media only screen and (min-width: $sm-breakpoint) {
      &-fixed {
        width: 46rem;
      }
    }

    @media only screen and (min-width: $md-breakpoint) {
      &-fixed {
        width: 61rem;
      }
    }

    @media only screen and (min-width: $lg-breakpoint) {
      &-fixed {
        width: 71rem;
      }
    }

  }

}